// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  //background: #f3f3f3 !important;
}

//.container.header {
//  background: #f3f3f3;
//}

.container.wud {
  //background-image: linear-gradient(9deg, $secondary-color 0%, $tertiary-color 100%);
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.wud {
  p {
    text-align: center;
  }
}

// Social Media
table.button.cta table td {
  //box-shadow: 10px 10px 0 $secondary-color;

  a {
    width: 400px;
    padding: 16px 26px;
    //width: 100%;
    height: 100%;
    border-radius: 2px;
    font-family: $header-font-family;
    font-weight: 400;
    font-size: 24px;
    color: $white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    background: $primary-color !important;
  }
}

//
//table.button.twitter table td {
//  background: #1daced !important;
//  border-color: #1daced;
//}
//
//table.button.google table td {
//  background: #DB4A39 !important;
//  border-color: #DB4A39;
//}
//
//.wrapper.secondary {
//  background: #f3f3f3;
//}
