// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  //background: #f3f3f3 !important;
  -webkit-font-smoothing: antialiased;
}

//.container.header {
//  background: #f3f3f3;
//}

table.container.wud {
  //background-image: linear-gradient(9deg, $secondary-color 0%, $tertiary-color 100%);
  background-image: url(http://wudmilan.com/assets/img/newsletter/bg-newsletter.png) !important;
  background-repeat: repeat-x !important;
}

table.container.wud-white {
  background: $white;

  h1,
  h2,
  h3 {
    color: $primary-color;
  }

  p,
  li {
    color: $black;
  }
}

//.body-drip {
//  border-top: 8px solid #663399;
//}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.wud {
  p {
    text-align: center;
  }

  .text-small {
    font-size: 16px;
    line-height: 22px;
  }
}

.hero p {
  line-height: 24px;
  letter-spacing: 1.29px;
}

// Social Media
table.button.cta table td {
  border: 0;

  a {
    padding: 15px 46px;
    height: 100%;
    border: 0;
    border-radius: 2px;
    font-family: $header-font-family;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $white;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    background: $secondary-color !important;
  }
}

table.button.cta.dark table td {
  a {
    font-size: 18px;
    letter-spacing: 1.5px;
    line-height: 22px;
    background: $primary-color !important;
  }
}

.wud-social-icons table.button table td {
  border: 0;
  width: 49px;
  height: 49px;
  background: $tertiary-color;

  a {
    padding: 0;
    margin-right: 30px;
    border: 0;
    border-radius: 50%;
    width: 49px;
    height: 49px;
  }
}

.wud-social-icons table.button.wud-social-icons_email table td {
  a {
    margin: 0;
  }
}

a.wud-link {
  font-family: $header-font-family;
  font-weight: 600;
  text-decoration: underline;
  color: $white;
}
